extends layout

block content
  h1= title
  - let dogs =results
  - let destinationcreate = `dispatchCreate(\"/dogs/create\")`
  div(class="container-fluid mt-3")
    button.btn( class="btn-primary ml-1 btn-lg", onclick= destinationcreate) Create
  div(class="row")
    each dog,index in dogs 
      - let destinationupdate = `dispatch(\"/dogs/update?id=${dog._id}\")`
      -let destinationdetail =   `dispatch(\"/dogs/detail?id=${dog._id}\")`
      - let destinationdelete = `dispatchDelete(\"/dogs/delete?id=${dog._id}\")`
        div(class="col-sm-4 m-1 p-3" style=("font-weight:bolder")) #{dog.dogname} - #{dog.breed} - #{dog.price} 
          button.btn( class="btn-success ml-1", onclick= destinationdetail) Detail
          button.btn( class="btn-info ml-1", onclick= destinationupdate) Update
          button.btn( class="btn-danger ml-1", onclick= destinationdelete) Delete
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
      function dispatch(path){
      window.location.href=path
      
      }
      function dispatchCreate(path){
        window.location.href=path
      }
      function dispatchDelete(path){
        window.location.href=path
      }
          