extends layout

block content
  h1= title
  - let dogs =results
  div(class="container-fluid mt-3")
  div(class="row")
    each dog,index in dogs 
        div(class="col-sm-4 m-1 p-3" style=("font-weight:bolder") onclick=`buy(${index})`) #{dog.dogname} - #{dog.breed} - #{dog.price} 
  script.
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }
          