extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let dogid = toShow._id
    - let dogName = toShow.dogname
    - let breed = toShow.breed
    - let price = toShow.price
    - let actionid = "/resource/resource/dogs/" + dogid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='costumeAttr mr-3') Dog ID is:
        div #{dogid}
      div.row
        div(class='costumeAttr mr-3') Dog name is:
        div #{dogName}
      div.row
        div(class='costumeAttr mr-3') dog breed is:
        div #{breed}
      div.row
        div(class='costumeAttr mr-3') dog price is:
        div #{price}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the costume collection
      window.location.href='/dogs'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/dogs'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }
